@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">StartUp</h1>
    <img src="https://st2.depositphotos.com/3591429/7167/i/600/depositphotos_71678981-stock-photo-business-people-and-start-up.jpg" class="img-fluid" alt="Responsive image">


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        val1 = "Information for";
        val2 = "StartUps";

        $.ajax({
            type: "POST",
            url: "@Url.Action("Show")",
            data: {text1: val1, text2: val2},
            dataType: "json",
            success: function (msg) {
                console.log(msg);
            },
            error: function (req, status, error) {
                console.log(msg);
            }
        });
    });
    </script>
</div>
